.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.card {
    width: calc(25% - 50px);
    margin-top: 50px;
    box-sizing: border-box;
    background-color: blue;
}

.card-img-top {
    max-width: 100%; 
    max-height: 130px; 
    object-fit: contain; /* Maintain aspect ratio without squishing */
    background-color: #beebf8;
    border-radius: 10px;
}

.card-link {
    text-decoration: none;
    color: inherit;
}




