.coaching h2 {
    color: aquamarine;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    width: calc(25% - 20px);
    margin-top: 50px;
    box-sizing: border-box;
}

.card-img-top {
    max-width: 100%; 
    max-height: 150px; 
    object-fit: contain; /* Maintain aspect ratio without squishing */
}

.card-link {
    text-decoration: none;
    color: inherit;
}




